/* ASIDE */

.aside-main {
    /* width: 1112px; */
    background-color: var(--bg-color);
    height: 100vh;
    z-index: 100;
    position: relative;
    max-width: 1112px;
    transition: max-width 0.5s ease-in-out;
}

.aside-close {
    max-width: 0px;

    .container-aside .header-main,
    .container-aside .header-main .header-block {
        max-width: 0px;
    }

    .container-aside .header-main .header-block .search-input,
    .container-aside .header-main .header-block .dropdown {
        display: none;
    }
}

.container-aside {
    padding: 72px 40px 0 104px;
}

/* HEADER */

.header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: max-width 0.5s ease-in-out;
    max-width: 968px;
}

.header-block {
    display: flex;
    align-items: center;
    gap: 16px;
    transition: max-width 0.4s ease-in-out;
    max-width: 968px;
}

.search-input {
    width: 455px;
}

.arrow-right {
    width: 64px;
    height: 64px;
    cursor: pointer;

    path {
        stroke: var(--additional-color);
        transition: stroke .3s ease-in-out;
    }
}

.arrow-right:hover path, .arrow-right:focus path {
    stroke: var(--additional-focus-color);
}

/* CARDS */

.cards-block {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 128px - 72px - 48px);

    /* scrollbar-color: var(--accent-color) var(--bg-color); */
}

.cards-block::-webkit-scrollbar {
    width: 24px;
}

.cards-block::-webkit-scrollbar-track {
    background: var(--bg-color);  /* цвет трека (дорожки) */
    border-radius: 10px;
}

.cards-block::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);  /* цвет ползунка */
    border-radius: 61px;
    transition: background-color .3s ease-in-out;

}

.cards-block::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent-pressed-color);  /* цвет ползунка при наведении */
}

/* CAMERA */

.camera {
    background-color: #ffd6d6;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.camera .button-icon {
    height: 128px;
}

.camera-aside-button {
    position: absolute;
    top: 94px;
    left: 104px;
}

.camera-screen-button {
    position: absolute;
    bottom: 64px;
    left: calc((100vw - 128px) / 2);
}